:root {
    font-size: 16px;
    --white30: white;
    --white20: #B8C1EC; 
    --white10: #D4939D;
}

html {
    scroll-behavior: smooth;
}

body {
    /*color: var(--white30);*/
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #232946;
}
 

.header {
    margin-inline-end: 24px;
}

.upper-header {
    margin-block-end: 40px;
}

.upper-header ul {
    padding: 0;
}

.upper-header ul li {
    margin-block: 0;
    list-style: none;
}

.upper-header ul li a {
    font-size: 14px;
    line-height: 24px;
    padding: 8px;
    display: block;
    inline-size: 100%; 
}

.selected{
    background: #000000;
    color: #fff;
    border-radius: 4px;
}


.header-content {
    padding-inline: 20px;
}

header a {
    color: var(--white20);
    text-decoration: none;
}

header ol li {
    color: var(--white20);
}

.section-content li {
    color: var(--white20);
}

header a:hover {
    color:var(--white30)
}


details summary {
    font-weight: bold;
}

h1,h2,h3 {
    color: var(--white30);
}

h1 {
 font-size: 24px;
 font-weight: 700;
 margin-block-start: 64px;
 margin-block-end: 16px;
}

h1 + p {
    margin-block-start: 16px;
    margin-block-end: 40px;
}

hr {
    border: 1px solid rgba(97, 97, 97, 0.2);
}

.logo {
    margin-block-end: 16px; 
    margin-block-start: 40px;
}

h2 {
 font-size: 24px;   
 font-weight: normal;
 margin-block-start: 63px; 
 margin-block-end: 40px;
}

.first h2 { 
    margin-block-start: 40px; 
    margin-block-end: 0;
}

.first h3 {
    margin-block-start: 0px;
}


h3 {
    font-size: 20px;
    font-weight: normal;
    margin-block-start: 40px;
}

pre { 
    border-radius: 8px;
    padding-block: 16px;
    padding-inline: 16px;
    overflow: auto;
    color:#FFFFFE; 
}


 
.section-content img {
    max-inline-size: 100%;
}

p {
    color: var(--white20);
    margin-block-end: 16px;
}

.header-content, .header-content p {
    color: var(--white30)
}
 
.wrapper {
    max-inline-size: 902px;
    margin: auto;
    padding-inline: 16px;
}

blockquote {
    background-color: var(--white10);
    border-radius: 8px;
    margin-block-start: 80px;
    margin-block-end: 63px;
    margin-inline: 0;
    padding-block: 8px;
    padding-inline: 8px;
}

blockquote p {
    color: #232946;
}

.section-content:last-child { 
    margin-block-start: 122px;
}

.section-content ol, .section-content ul {
    margin-block-start: 16px;
    margin-block-end: 16px;
}


.section-content ul li{
    margin-block-start: 16px;
    margin-block-end: 16px;
    color: var(--gray30);
    list-style: none; 
    position: relative; 
}
.section-content ul li span  {
    
    display: inline-block; 
    position: absolute;
    block-size: 8px;
    background: #FFFFFE;
    box-sizing: border-box;
    inline-size: 8px;
    border-radius: 50%; 
    inset-block-start: 25%;
} 

.section-content ul li p  {
    display: inline-block; 
    max-inline-size: 90%;
    box-sizing: border-box;
    
} 

.section-content ul li p {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    margin-inline-start: 20px;
}


.header ol li {
    margin-block-start:16px ;
}

.slider-container {
    display: block;
    overflow: hidden; /*esto es porque no queremos que los objetos dentro del contener sobresalgan del contenedor*/
    scroll-behavior: smooth;
    font-size: 0;
    white-space: nowrap; /*con esto evitamos que objetos que son bloques realicen saltos de línea*/
}

.slider-slide .video{
    margin: 0;
    display: inline-block;/*porque por defecto los h1 son objetos de bloques 
        necesitamos que sea inline-block porque los inline no pueden tener un alto o un ancho
        pero si los de bloque, asi que de esta manera estamos compartiendo las caracteristicas de ambos
        tipos de objetos*/
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px; 
    margin-block-end: 51px;
}

.slider-bullet:hover{
    background: #FFFFFE;
}

.slider-bullet {
    display: inline-block; /*porque las etiquetas a por defecto son inlines y necesitamos darles un tamaño*/
    block-size: 15px;
    inline-size: 15px;
    background: rgba(66, 66, 66, 0.2);
    border-radius: 50%;

}

h4 {
    color: var(--white30);
    font-weight: normal;
    font-size: 24px;
}

.form input {
    display: block;
    inline-size: 100%; 
    padding-block:12px;
    padding-inline: 16px;
    background: #232946;
    color: #FFFFFE;
    margin-block-end: 24px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #FFFFFE;
}

.form input::placeholder{
    color: #FFFFFE;
}

p a {
    color: var(--white30);
}

.form input[type="submit"] {
    background:var(--white10);
    border: none;
    color: #232946;
    font-weight: bold;
    cursor: pointer;
}

footer {  
    background:var(--white10);
    block-size: 174px;
    margin-block-start: 80px;
}

footer p {
    color: #232946;
}

footer .wrapper{
    position: relative;
    block-size: 100%; 
    padding: 0; 
}

 
footer .footer-content { 
    position: absolute;
    inline-size: 100%;
    text-align: center;
    inset-block-start: 15%;
    color: #251F24;
}

footer .footer-content p { 
    font-weight: normal; 
    font-size: 24px;
}

@media screen and (min-width:1436px) {
    

    h1 {
        font-size: 64px;
    }

    .header {
        position: sticky;
        inset-block-start: 0;
        margin-block-start: 64px;
    }

    .header .wrapper {
        position: relative;
        padding-inline: 0;
    
    }
    

    .header-content {
        font-size: 14px;
        position: absolute;
        inline-size: 188px;
        inset-inline-start: -240px;

    }
    
    blockquote {
        padding-block: 24px;
        padding-inline: 24px;
    }

    
    h2 {
        font-size: 40px;   
        font-weight: bold;
        margin-block-start: 63px; 
        margin-block-end: 40px;
    }
   
    h3 {
        font-size: 32px;
        font-size: normal;
        font-weight: bold;
        margin-block-start: 40px;
    }
    
    .bottom-header {
        display: block;
    }

    .upper-header {
        margin-block-end: 104px;
    }

}